<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <script src="public/script.js"></script> -->
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <h1> txt2img testing </h1>
    <h3> prompt </h3>
    <!-- <form action="0.0.0.0/txt2img" method="POST"> -->
        <!-- Prompt: <input type="text" name="prompt">
        <button type="submit">Submit</button> -->
    <!-- </form> -->
        <form id="myForm">
            <label for="name">Prompt:</label>
            <input type="text" id="prompt" name="prompt">
            <input type="text" id="steps" name="steps">
            <input type="submit" value="submit">
        </form>
    <img id="resultImage" src="" alt="Image" class="hidden">

<script>        

// document.addEventListener('DOMContentLoaded', () => {
//         const image = document.getElementById('resultImage');

//         image.addEventListener('load', () => {
//             image.classList.remove('hidden');
//         });

//         image.addEventListener('error', () => {
//             // Handle image loading error, if necessary
//         });
//     });


const form = document.getElementById('myForm');
console.log(form)
form.addEventListener('submit', function (event) {
    event.preventDefault();

    const formData = new FormData(form);

    const data = {};
    for (let [key, value] of formData) {
        data[key] = value;
    }
    console.log(data)
    axios.post('http://localhost:8080/txt2img', data)
        .then(response => {
            console.log(response.data);
        })
        .catch(error => {
            console.error(error);
        });
});

</script>    
</body>
</html>


